//
// Core: Layout
//

html.scroll-smooth {
    scroll-behavior: smooth;
}

html,
body,
.wrapper {
    min-height: 100%;
}
img.brand-image.img-fluid{
    width: 80%;
    margin: auto;
}
.wrapper {
    position: relative;

    & .content-wrapper {
        min-height: calc(100vh - #{$main-header-height} - #{$main-footer-height});
    }

    .layout-boxed & {
        @include box-shadow(0 0 10 rgba($black, .3));

        &,
        &::before {
            margin: 0 auto;
            max-width: $boxed-layout-max-width;
        }

        & .main-sidebar {
            left: inherit;
        }
    }

    @supports not (-webkit-touch-callout: none) {
        .layout-fixed & .sidebar {
            height: calc(100vh - (#{$main-header-height-inner} + #{$main-header-bottom-border-width}));
        }
        .layout-fixed.text-sm & .sidebar {
            height: calc(100vh - (#{$main-header-height-sm-inner} + #{$main-header-bottom-border-width}));
        }
    }

    .layout-navbar-fixed.layout-fixed & {
        .control-sidebar {
            top: $main-header-height;
        }

        .main-header.text-sm ~ .control-sidebar {
            top: $main-header-height-sm;
        }

        .sidebar {
            margin-top: $main-header-height;
        }

        .brand-link.text-sm ~ .sidebar {
            margin-top: $main-header-height-sm;
        }
    }

    .layout-navbar-fixed.layout-fixed.text-sm & {
        .control-sidebar {
            top: $main-header-height-sm;
        }

        .sidebar {
            margin-top: $main-header-height-sm;
        }
    }

    .layout-navbar-fixed.sidebar-mini.sidebar-collapse &,
    .layout-navbar-fixed.sidebar-mini-md.sidebar-collapse & {
        .brand-link {
            height: $main-header-height;
            width: $sidebar-mini-width;

            &.text-sm {
                height: $main-header-height-sm;
            }
        }
    }

    .layout-navbar-fixed.sidebar-mini.sidebar-collapse.text-sm &,
    .layout-navbar-fixed.sidebar-mini-md.sidebar-collapse.text-sm & {
        .brand-link {
            height: $main-header-height-sm;
        }
    }

    body:not(.layout-fixed).layout-navbar-fixed & {
        .main-sidebar {
            // margin-top: calc(#{$main-header-height} / -1);

            // .sidebar {
            //   margin-top: $main-header-height;
            // }
        }
    }

    body:not(.layout-fixed).layout-navbar-fixed.text-sm & {
        .main-sidebar {
            margin-top: calc(#{$main-header-height-sm} / -1);

            .sidebar {
                margin-top: $main-header-height-sm;
            }
        }
    }

    .layout-navbar-fixed & {
        .control-sidebar {
            top: 0;
        }

        a.anchor {
            display: block;
            position: relative;
            top: calc((#{$main-header-height-inner} + #{$main-header-bottom-border-width} + (#{$main-header-link-padding-y} * 2)) / -1);
        }

        .main-sidebar:hover {
            .brand-link {
                transition: width $transition-speed $transition-fn;
                width: $sidebar-width;
            }
        }

        .brand-link {
            overflow: hidden;
            position: fixed;
            top: 0;
            transition: width $transition-speed $transition-fn;
            width: $sidebar-width;
            z-index: $zindex-main-header + 1;
        }

        // Sidebar variants brand-link fix
        @each $name, $color in $theme-colors {
            .sidebar-dark-#{$name} .brand-link:not([class*="navbar"]) {
                background-color: $sidebar-dark-bg;
            }

            .sidebar-light-#{$name} .brand-link:not([class*="navbar"]) {
                background-color: $sidebar-light-bg;
            }
        }

        .content-wrapper {
            margin-top: $main-header-height;
        }

        .main-header.text-sm ~ .content-wrapper {
            margin-top: $main-header-height-sm;
        }

        .main-header {
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: $zindex-main-header - 1;
        }
    }

    .layout-navbar-fixed.text-sm & {
        .content-wrapper {
            margin-top: $main-header-height-sm;
        }
    }

    .layout-navbar-not-fixed & {
        .brand-link {
            position: static;
        }

        .sidebar,
        .content-wrapper {
            margin-top: 0;
        }

        .main-header {
            position: static;
        }
    }

    .layout-navbar-not-fixed.layout-fixed & {
        .sidebar {
            margin-top: 0;
        }
    }

    @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
            $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

            .layout#{$infix}-navbar-fixed.layout-fixed & {
                .control-sidebar {
                    top: $main-header-height;
                }

                .text-sm & .main-header ~ .control-sidebar,
                .main-header.text-sm ~ .control-sidebar {
                    top: $main-header-height-sm;
                }

                .sidebar {
                    margin-top: $main-header-height;
                }

                .text-sm & .brand-link ~ .sidebar,
                .brand-link.text-sm ~ .sidebar {
                    margin-top: $main-header-height-sm;
                }
            }

            .layout#{$infix}-navbar-fixed.layout-fixed.text-sm & {
                .control-sidebar {
                    top: $main-header-height-sm;
                }

                .sidebar {
                    margin-top: $main-header-height-sm;
                }
            }

            .layout#{$infix}-navbar-fixed & {
                .control-sidebar {
                    top: 0;
                }

                a.anchor {
                    display: block;
                    position: relative;
                    top: calc((#{$main-header-height-inner} + #{$main-header-bottom-border-width} + (#{$main-header-link-padding-y} * 2)) / -1);
                }

                &.sidebar-collapse {
                    .brand-link {
                        height: $main-header-height;
                        transition: width $transition-speed $transition-fn;
                        width: $sidebar-mini-width;

                        .text-sm &,
                        &.text-sm {
                            height: $main-header-height-sm;
                        }
                    }

                    .main-sidebar:hover {
                        .brand-link {
                            transition: width $transition-speed $transition-fn;
                            width: $sidebar-width;
                        }
                    }
                }

                .brand-link {
                    overflow: hidden;
                    position: fixed;
                    top: 0;
                    transition: width $transition-speed $transition-fn;
                    width: $sidebar-width;
                    z-index: $zindex-main-header + 1;
                }

                // Sidebar variants brand-link fix
                @each $name, $color in $theme-colors {
                    .sidebar-dark-#{$name} .brand-link:not([class*="navbar"]) {
                        background-color: $sidebar-dark-bg;
                    }

                    .sidebar-light-#{$name} .brand-link:not([class*="navbar"]) {
                        background-color: $sidebar-light-bg;
                    }
                }

                .content-wrapper {
                    margin-top: $main-header-height;
                }

                .text-sm & .main-header ~ .content-wrapper,
                .main-header.text-sm ~ .content-wrapper {
                    margin-top: $main-header-height-sm;
                }

                .main-header {
                    left: 0;
                    position: fixed;
                    right: 0;
                    top: 0;
                    z-index: $zindex-main-sidebar - 1;
                }
            }

            .layout#{$infix}-navbar-fixed.text-sm & {
                .content-wrapper {
                    margin-top: $main-header-height-sm;
                }
            }

            body:not(.layout-fixed).layout#{$infix}-navbar-fixed & {
                // .main-sidebar {
                //   margin-top: calc(#{$main-header-height} / -1);

                //   .sidebar {
                //     margin-top: $main-header-height;
                //   }
                // }
            }

            body:not(.layout-fixed).layout#{$infix}-navbar-fixed.text-sm & {
                .main-sidebar {
                    margin-top: calc(#{$main-header-height-sm} / -1);

                    .sidebar {
                        margin-top: $main-header-height-sm;
                    }
                }
            }

            .layout#{$infix}-navbar-not-fixed & {
                .brand-link {
                    position: static;
                }

                .sidebar,
                .content-wrapper {
                    margin-top: 0;
                }

                .main-header {
                    position: static;
                }
            }

            .layout#{$infix}-navbar-not-fixed.layout-fixed & {
                .sidebar {
                    margin-top: 0;
                }
            }
        }
    }

    .layout-footer-fixed & {
        .control-sidebar {
            bottom: 0;
        }
    }

    .layout-footer-fixed & {
        .main-footer {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            z-index: $zindex-main-footer;
        }
    }

    .layout-footer-not-fixed & {
        .main-footer {
            position: static;
        }

        .content-wrapper {
            margin-bottom: 0;
        }
    }

    @each $breakpoint in map-keys($grid-breakpoints) {
        @include media-breakpoint-up($breakpoint) {
            $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
            .layout#{$infix}-footer-fixed & {
                .control-sidebar {
                    bottom: 0;
                }
            }

            .layout#{$infix}-footer-fixed & {
                .main-footer {
                    bottom: 0;
                    left: 0;
                    position: fixed;
                    right: 0;
                    z-index: $zindex-main-footer;
                }

                .content-wrapper {
                    padding-bottom: $main-footer-height;
                }
            }

            .layout#{$infix}-footer-not-fixed & {
                .main-footer {
                    position: static;
                }
            }
        }
    }

    .layout-top-nav & {
        margin-left: 0;

        .main-header {

        }

        & .main-sidebar {
            bottom: inherit;
            height: inherit;
        }

        & .content-wrapper,
        & .main-header,
        & .main-footer {
            margin-left: 0;
        }
    }
}


body.sidebar-collapse:not(.sidebar-mini-md):not(.sidebar-mini) {
    .content-wrapper,
    .main-footer,
    .main-header {
        &,
        &::before {
            margin-left: 0;
        }
    }
}

body:not(.sidebar-mini-md) {
    .content-wrapper,
    .main-footer,
    .main-header {
        @include media-breakpoint-up(md) {
            @include transition(margin-left $transition-speed $transition-fn);

            margin-left: $sidebar-width;

            .sidebar-collapse & {
                margin-left: 0;
            }
        }

        @include media-breakpoint-down(md) {
            &,
            &::before {
                margin-left: 0;
            }
        }
    }
}

.sidebar-mini-md {
    .content-wrapper,
    .main-footer,
    .main-header {
        @include media-breakpoint-up(md) {
            @include transition(margin-left $transition-speed $transition-fn);

            margin-left: $sidebar-width;

            .sidebar-collapse & {
                margin-left: $sidebar-mini-width;
            }
        }

        @include media-breakpoint-down(md) {
            &,
            &::before {
                margin-left: $sidebar-mini-width;
            }
        }
    }
}

.content-wrapper {
    background: $main-bg;

    > .content {
        padding: $content-padding-y $content-padding-x;
    }
}

.main-sidebar {
    &,
    &::before {
        $local-sidebar-transition: margin-left $transition-speed $transition-fn, width $transition-speed $transition-fn;
        @include transition($local-sidebar-transition);
        width: $sidebar-width;
    }

    .sidebar-collapse:not(.sidebar-mini):not(.sidebar-mini-md) & {
        &,
        &::before {
            box-shadow: none !important;
        }
    }

    .sidebar-collapse & {
        &,
        &::before {
            margin-left: -$sidebar-width;
        }

        .nav-sidebar.nav-child-indent .nav-treeview {
            padding: 0;
        }
    }

    @include media-breakpoint-down(sm) {
        &,
        &::before {
            box-shadow: none !important;
            margin-left: -$sidebar-width;
        }

        .sidebar-open & {
            &,
            &::before {
                margin-left: 0;
            }
        }
    }
}

:not(.layout-fixed) {
    .main-sidebar {
        height: inherit;
        min-height: 100%;
        position: absolute;
        top: 0;
    }
}

.layout-fixed {
    .brand-link {
        width: $sidebar-width;
    }

    .main-sidebar {
        bottom: 0;
        float: none;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
    }

    .control-sidebar {
        bottom: 0;
        float: none;
        height: 100vh;
        position: fixed;
        top: 0;

        .control-sidebar-content {
            height: calc(100vh - #{$main-header-height});
        }
    }
}

@supports (-webkit-touch-callout: none) {
    .layout-fixed {
        .main-sidebar {
            height: inherit;
        }
    }
}

.main-footer {
    background: $main-footer-bg;
    border-top: $main-footer-border-top;
    color: lighten($gray-700, 25%);
    padding: $main-footer-padding;

    .text-sm &,
    &.text-sm {
        padding: $main-footer-padding-sm;
    }
}

.content-header {
    padding: 15px $content-padding-x;

    .text-sm & {
        padding: 10px $content-padding-x;
    }

    h1 {
        font-size: 1.8rem;
        margin: 0;

        .text-sm & {
            font-size: 1.5rem;
        }
    }

    .breadcrumb {
        background: transparent;
        line-height: 1.8rem;
        margin-bottom: 0;
        padding: 0;

        .text-sm & {
            line-height: 1.5rem;
        }
    }
}


.hold-transition {
    .content-wrapper,
    .main-header,
    .main-sidebar,
    .main-sidebar *,
    .control-sidebar,
    .control-sidebar *,
    .main-footer {
        transition: none !important;
        animation-duration: 0s !important;
    }
}
.nav-sidebar .nav-link p {
    font-weight: normal !important;
}
.pace-inactive {
    display: none;
}
.case-info {
    @media (max-width: 767.98px) {
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }
}

.capital-input {
    min-width: 350px;
    border: 2px solid #28a745;
    padding: 7px;
    @media (max-width: 575.98px) {
            min-width: 250px;
    }
}


/* chat*/
.chat-syb {
    height: 85vh;
}
.bdg-num {
    height: 30px;
    width: 30px;
    background-color: #fc8368;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 80%;
}
.main-chat-usr {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
}
.urs-img-ch {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.contact-chat-list {
    direction: ltr;
    padding: 10px;
    background-color: #ffffffd9;
    box-shadow: 1px 1px 3px #DDD, -1px -1px 3px #DDD;
    border-radius: 16px;
    margin: 10px 3px;
}

.chat-syb2 {
    height: 68vh;
}
.more-cht-btn {
    display: block;
    width: 100%;
    margin: auto;
    padding: 5px 10px;
    background-color: #fc8368;
    color: #FFF;
    border: 0;
    font-weight: bold;
}
.ct-mn-lst{
    box-shadow: 1px 1px 3px #DDD, -1px -1px 3px #DDD;
}
.form-control {
    padding: 3px 0.75rem !important;
}
.pagination {
    text-align: center;
    justify-content: center !important;
}
.page-item.active .page-link {
    color: #ffffff !important;
    background-color: #5b75b5 !important;
    border-color: #5b75b5 !important;
}
.page-link {
    color: #5b75b5 !important;
}
.content-header h1 {
    color: #5b75b5;
    font-weight: bold;
}
.main-bg-blu-color {
    background-color: #5b75b5 !important;
}
.main-footer {
    text-align: center;
}

.lye-emp .form-group {
    box-shadow: 1px 1px 5px #DDD, -1px -1px 5px #DDD;
    padding: 10px;
    background-color: #ffffff;
}
.chart {
    overflow: auto;
}



@page {
    size: A4;
    margin: 10px;
}

@page {
    size: landscape;
    margin: 10mm;
}

table {
    page-break-inside: auto
}

tr, .info-ins, input  {
    page-break-inside: avoid;
    page-break-after: auto
}

thead {
    display: table-header-group;
}

tfoot {
    display: table-footer-group;
}

@media print {
    .os-viewport {
        position: relative !important;
    }

    html.os-html, html.os-html > .os-host {
        overflow: auto !important;
    }


    .os-host-overflow > .os-padding, .os-host-overflow, .os-host-overflow > .os-padding, .os-host-overflow, .os-host, .os-host-overflow > .os-padding, .os-host-overflow {
        overflow: auto !important;

    }

    .os-host-overflow,
    .os-host-overflow > .os-padding,
    .os-scrollbar-auto-hidden,
    .os-padding + .os-scrollbar-corner,
    .os-host-resize-disabled.os-host-scrollbar-horizontal-hidden > .os-scrollbar-corner,
    .os-host-scrollbar-horizontal-hidden > .os-scrollbar-horizontal,
    .os-host-resize-disabled.os-host-scrollbar-vertical-hidden > .os-scrollbar-corner,
    .os-host-scrollbar-vertical-hidden > .os-scrollbar-vertical,
    .os-scrollbar-horizontal.os-scrollbar-auto-hidden + .os-scrollbar-vertical + .os-scrollbar-corner,
    .os-scrollbar-horizontal + .os-scrollbar-vertical.os-scrollbar-auto-hidden + .os-scrollbar-corner,
    .os-scrollbar-horizontal.os-scrollbar-auto-hidden + .os-scrollbar-vertical.os-scrollbar-auto-hidden + .os-scrollbar-corner, .os-host, .os-host-overflow > .os-padding {

        visibility: visible !important;
    }

    .os-host-overflow > .os-padding {
        overflow: auto !important;
    }

    .os-host-overflow {
        overflow: auto !important;
    }


    #btnFetch, #cleardata, .dolamah {
        display: none;
    }

    .rest-color {
        color: #000 !important;
    }

    .ftn-h {
        max-width: 95%;
    }


}
#complete {
    border-radius: 0 !important;
    margin-right: -2px !important;
}

@media (max-width: 767.98px) {
    #root {
        margin: 10px 0;
    }

}
.form-shape label {
    display: block;
    padding: 10px;
    color: #FFF;
    background-color: #4bb481;
    margin-bottom: 0;
    max-width: 600px;
}
.form-shape p {
    display: block;
    padding: 10px;
    color: #000;
    background-color: #ffffff;
    border: 1px solid #DDD;
    margin-bottom: 10px;
    max-width: 600px;
}
.form-shape textarea {
    max-width: 600px;
}
.content .card-header {
    background-color: #053395b5 !important;
    color: #ffffff !important;
}
.content  .card-body {
    padding: 20px !important;
}
.main-chat-usr {
    color: #343a40;
}
.bdg-num {
    background-color: #61a4d7;
}
.more-cht-btn {
    padding: 9px 10px;
    background-color: #3f8eca;
}
thead tr {
    background-color: #3f8eca;
    color: #FFF;
}
.chat-syb {
    height: 83vh;
}
.card {
    padding: 0;
}
.chart-modifications, .chart-modifications .chart {
    overflow: auto;
}
.chart-modifications  #chart {
    margin: auto;
}
.req-title {
    box-shadow: 1px 1px 3px #DDD, -1px -1px 3px #DDD;
    padding: 15px 10px;
    background-color: #FFF;
    color: #28a745;
}
.content-header {
    margin-bottom: 20px;
}

.cep {
    box-shadow: 2px 2px 5px #DDD, -2px -2px 5px #DDD;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
}
.cep p {
    height: 105px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.eye-mdl {
    color: #5b75b5;
}
.img-pdt {
    object-fit: cover;
    height: 150px;
}
.os-padding {
    z-index: auto !important;
}
/*today*/
.table th, .table td {
    font-weight: normal;
    font-size: 15px;
}
.dropdown-menu-lg .dropdown-item {
    padding: 0.5rem 10px;
}
.img-size-z {
    width: 40px !important;
}
label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600;
}
.form-control {
    padding: 0px 0.75rem !important;
    height: calc(2rem + 2px);
}